<div class="VA011-report-header">
    <h3 class="VA011-report-tittle"></h3>
    <button class="VA011-btn-close" id="@("btnClose_" + ViewBag.WindowNumber)"></button>
    <button class="VA011-btn-Delete" id="@("btnDelete_" + ViewBag.WindowNumber)" style="background: url('Areas/VA011/Images/delete.png') no-repeat center;margin-right:10px"></button>
    <button class="VA011-btn-Delete" id="@("btnSave_" + ViewBag.WindowNumber)" style="background: url('Areas/VA011/Images/Save.png') no-repeat center;"></button>
    <button class="VA011-btn-Delete" id="@("btnUndo_" + ViewBag.WindowNumber)" style="background: url('Areas/VA011/Images/Undo.png') no-repeat center;"></button>
    <button class="VA011-btn-Multiple" id="@("btnMultiple_" + ViewBag.WindowNumber)"></button>
    <div>
        <h5 class="VA011-effect-on" style="display: none;"></h5>
        <h5 class="VA011-effect-off" style="display: none;"></h5>
    </div>
</div>